<h2 class="d-flex align-items-center mb-4 text-lowercase">
  <button title="home" (click)="viewHomePage()" class="btn btn-link text-dark fw-bold">
    <i class="bi bi-arrow-left fs-4 me-2"></i>
    <i class="bi bi-tools fs-4 me-2"></i>
  </button>
</h2>

<!-- Add Subject Form Container -->
<div class="container mt-4">
  <h2 class="text-lowercase">Add New Subject</h2>
  <form [formGroup]="addSubjectForm" (ngSubmit)="confirmAddCourse()">
    <!-- Subject ID Input -->
    <div class="mb-3">
      <label for="id" class="form-label text-lowercase">Subject ID*</label>
      <input
        type="text"
        id="id"
        class="form-control text-lowercase"
        formControlName="id"
        placeholder="Enter subject id"
        required
      />
      <div *ngIf="addSubjectForm?.get('id')?.invalid && addSubjectForm?.get('id')?.touched" class="text-danger">
        Subject id is required.
      </div>
    </div>

    <!-- Full Name of Subject Input -->
    <div class="mb-3">
      <label for="name" class="form-label text-lowercase">Full Name*</label>
      <input
        type="text"
        id="name"
        class="form-control text-lowercase"
        formControlName="name"
        placeholder="Enter full name of the subject"
        required
      />
      <div *ngIf="addSubjectForm?.get('name')?.invalid && addSubjectForm?.get('name')?.touched" class="text-danger">
        Full name is required.
      </div>
    </div>

    <!-- Subject Code Input -->
    <div class="mb-3">
      <label for="code" class="form-label text-lowercase">Subject Code*</label>
      <input
        type="text"
        id="code"
        class="form-control text-lowercase"
        formControlName="code"
        placeholder="Enter subject code"
        required
      />
      <div *ngIf="addSubjectForm?.get('code')?.invalid && addSubjectForm?.get('code')?.touched" class="text-danger">
        Subject code is required.
      </div>
    </div>

    <!-- Confirmation Message -->
    <div *ngIf="courseAdded" class="alert alert-success mt-3 text-lowercase">
      Subject has been successfully added!
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary w-100 add-course-btn" [disabled]="addSubjectForm.invalid">
      Add Subject
    </button>
  </form>
</div>
