<div class="container mt-4">
  <h1 class="text-center mb-4">Tools and Services</h1>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card shadow-sm">
        <img
          title="Upload PastPaper"
          class="card-img-top"
          src="../../../../assets/tools_cards_img/pastpaper.jpg"
          alt="Upload PastPaper"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Upload PastPaper</h5>
          <button
            class="btn btn-primary view-btn"
            [routerLink]="['/pastpaper-page']"
          >
            View
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
