<div class="container mt-4">
  <h1 class="text-center mb-1">View Recent Data</h1>
  <p>Every Note and Past Paper you have uploaded is being stored so every student have access from a large database entries which will build stronger over time.</p>
  <div class="scrollable-container">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card shadow-sm">
          <img
            title="Upload PastPaper"
            class="card-img-top"
            src="../../../../assets/tools_cards_img/pastpaper.jpg"
            alt="Upload PastPaper"
          />
          <div class="card-body text-center">
            <h5 class="card-title">See All Available Past Paper</h5>
            <button
              class="btn btn-primary view-btn"
              [routerLink]="['/pastpaperstoragepage']"
            >
              View
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card shadow-sm">
          <img
            title="Upload PastPaper"
            class="card-img-top"
            src="../../../../assets/tools_cards_img/notes.jpg"
            alt="Upload PastPaper"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Upload PastPaper</h5>
            <button
              class="btn btn-primary view-btn"
              [routerLink]="['/notesstoragepage']"
            >
              View
            </button>
          </div>
        </div>
      </div>
      <!-- Add more cards as needed -->
    </div>
  </div>
</div>
